$primary: rgb(10, 12, 36);
$secondary: rgb(27, 30, 83);
$tertiary: rgb(143, 148, 252);

$black: rgb(0, 0, 0);
$black-25: rgba(0, 0, 0, 0.25);

$white: rgb(255, 255, 255);
$white-0: rgba(255, 255, 255, 0);
$white-02: rgba(255, 255, 255, 0.02);
$white-05: rgba(255, 255, 255, 0.05);
$white-15: rgba(255, 255, 255, 0.15);

$deep-blue: rgb(32, 34, 49);
$deep-blue-37: rgba(8, 9, 79, 0.37);

$success: rgb(68, 192, 138);
$error: rgb(255, 0, 0);

$cyan: rgb(72, 238, 214);

$blue-glow-02: rgba(100, 150, 255, 0.2);
