$primary: rgb(75, 81, 245);
$secondary: rgb(113, 118, 226);
$tertiary: rgb(143, 148, 252);

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$projects-bg-0: rgb(249, 178, 52);
$projects-bg-1: rgb(62, 205, 94);
$projects-bg-2: rgb(228, 64, 3);
$projects-bg-3: rgb(149, 42, 255);
$projects-bg-4: rgb(205, 62, 148);
$projects-bg-5: rgb(76, 73, 234);


$deep-blue: rgb(32, 34, 49);

$success: rgb(68, 192, 138);
$error: rgb(255, 0, 0);